input{
    border:0px;    
    border-bottom:1px solid blue;
    padding:8px;
}
input:focus{
    outline: none;
}
input:focus ~ ul {
    display: block;
}
.filterList:hover{
    display: block;
}
.filterList{
    position: relative;
    border:0px solid yellow;
    width: 100px;
    display: none;
    box-shadow: 0px 0px 5px 0px #999;
    margin:0px;
    padding:0px;
}

.filterList li{
  list-style-type: none;
  cursor:pointer;
  padding:5px;
  margin:0px;
}

.filterList li:hover{
  background:#f9f9f9;
}
.selectedItems{
list-style-type:none;
float:left;
margin:0px;
padding:0px;
border-bottom:1px solid blue;
}
ul.selectedItems li{
    padding:5px;
    background:#ccc;
    border-radius: 50px 50px 50px 50px;
    float:left;
}
.remove{
    background:none;
    color:#333;
    border:0px;
}